.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.font-size-25{
  font-size: 25px;
}

.brand-name{
  color: #777777;
  /*
  other color options just to consider:
      Темно-серый: #555555
      Серебристый: #CCCCCC
      Бирюзовый: #40E0D0 
   */
}

.logout{
  font-size: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main-content {
  min-height: 90hv;
  background-color: rgb(27, 28, 31);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}